

$color-title:#e29578;
$secondary:#ffddd2;
$bg-color:rgb(243,243,243);
$bg-gradient:linear-gradient(180deg, rgba(243,243,243,1) 0%, rgba(131,197,190,1) 100%);
$primary-green: #83c5be;
$secondary-green: #006d77;